:root {
  --color-black: hsl(235deg 15% 15%);
  --color-grey: hsl(235deg 5% 35%);
  --color-grey-transparent: hsla(235deg 5% 35% / 0.7);
  --color-playarea: hsl(235deg 15% 67%);
  --color-borders: hsl(245deg 15% 70%);
  --color-faded-grey: hsl(235deg 4% 82% / 0.7);

  --hue-rotation: 0deg;
  --ball-background: hsl(0deg 20% 50%);
  --paddle-background: hsl(180deg 20% 50%);

  --google-blue: #1a73e8;
  --google-grey: rgb(95, 99, 104);
  --google-grey-transparent: rgba(95, 99, 104, 0.75);
}

@keyframes revealClipPath {
  from {
    clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% -10%);
  }
  to {
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
  }
}

@keyframes revealFromCenter {
  from {
    clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.play-area {
  position: fixed;
  top: calc(var(--top) * 1px);
  left: calc(var(--left) * 1px);
  width: calc(var(--width) * 1px);
  height: calc(var(--height) * 1px);
  outline: 2px dashed var(--color-borders);
  pointer-events: none;
  transition: opacity 1.5s ease;
  animation: revealClipPath 1s ease both;
  will-change: transform, clip-path;
}


.no-collision-zone {
  position: fixed;
  height: calc(var(--height) * 1px);
  left: calc(var(--left) * 1px);
  width: calc(var(--width) * 1px);
  bottom: calc(var(--bottom) * 1px);
  border-top: 2px dashed var(--color-borders);
  animation: revealFromCenter 0.5s ease both;
  animation-delay: 0.25s;
  backdrop-filter: blur(6px);
  z-index: 999;
}

@keyframes slideInFromBottom {
  from {
    transform: translate(var(--translate-x), calc(var(--slide-in-y-amount) + var(--translate-y)));
  }
  to {
   transform: translate(var(--translate-x), calc(var(--translate-y)));
  }

}

.slide-in-from-bottom {
  animation: slideInFromBottom 0.75s ease-out both;
}

.ball {
  --slide-in-y-amount: 300px;
  position: fixed;
  left: calc(var(--left)* 1px);
  top: calc(var(--top)* 1px);
  width: calc(var(--size)* 1px);
  height: calc(var(--size)* 1px);
  background-color: var(--ball-background);
  border-radius: 50%; 
  will-change: transform;
  transition: opacity 1s ease;
  filter: hue-rotate(var(--hue-rotation));
  border: 2px solid var(--color-grey-transparent);
  box-sizing: border-box;
  z-index: 1001;
}

.hidden-ball {
  display: none;
  z-index: 1000;
  filter: blur(6px) hue-rotate(var(--hue-rotation));
  transition: opacity 1s ease, filter var(--transform-speed) ease, transform var(--transform-speed) ease;
}

@keyframes fading-trail {
  0% {
    opacity: 0.75;
    transform: scale(0.9);
    filter: blur(2px);
  }

  100% {
    opacity: 0;
    transform: scale(0.3);
    filter: blur(4px);
  }
}

.fading-trail {
  animation: fading-trail 1s ease-out both;
  display: revert;
}

.paddle {
  --hue-rotation: 0deg;
  --slide-in-y-amount: 200px;
  box-sizing: border-box;
  position: fixed;
  left: calc(var(--left)* 1px);
  top: calc(var(--top)* 1px);
  width: calc(var(--width)* 1px);
  height: calc(var(--height)* 1px);
  background-color: var(--paddle-background);
  border: 2px solid var(--color-grey-transparent);
  border-radius: 2px;
  filter: hue-rotate(var(--hue-rotation));
  z-index: 1002;
  transition: opacity 1s ease;
  transform-origin: bottom center;
}

.faded {
  opacity: 0.1;
  transition: opacity 0.5s ease, background-color 0.5s ease;
}

particle {
  border-radius: 2px;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  position: fixed;
  filter: brightness(0.9) hue-rotate(var(--hue-rotation)) saturate(var(--saturation));
  z-index: 1000;
  pointer-events: none;
  will-change: transform, opacity;
  left: var(--left);
  top: var(--top);
  display: var(--display);
}

@fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.decline-events-modal {
  border-radius: 8px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--color-grey-transparent);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
  display: flex;
  align-items: stretch;
  min-width: 320px;
  min-height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 12px 8px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 4px 16px;
  z-index: 2000;

  animation: fade-in 0.5s ease both;
}

.decline-events-modal-choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.decline-events-choice {
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.decline-events-choice:hover {
  background-color: var(--color-faded-grey);
}

.decline-events-modal-close {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  transition: fill 0.2s ease;
  cursor: pointer;
}

.decline-events-modal-close:hover .x-icon{
  fill: black;
}

.decline-events-choice-trash {
  /* color: #f59f9f; */
  color: var(--google-blue);
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.decline-events-choice-keep {
  color: var(--google-grey);
}

.trash-can {
  display: flex;
}

.x-icon {
  fill: var(--google-grey);
  transition: fill 0.2s ease;
}

.trash-icon {
  fill: var(--google-blue);
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translate(-50%, -500px);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.start-instructions {
  position: fixed;
  top: calc(var(--top) * 1px);
  left: calc(var(--left) * 1px);
  transform: translate(-50%, -50%);
  color: var(--google-blue);
  animation: slideInFromTop 1s ease backwards;
  font-size: 24px;
  z-index: 3000;
  border-radius: 8px;
  padding: 10px;
  background-color: var(--color-faded-grey);
  border: 1px solid var(--google-grey-transparent);
  transition: opacity 0.3s ease;
  backdrop-filter: blur(4px);
}
